<form id='login-form'>
  <h3>Inicia sesión</h3>

  <label for='email'>Email:</label>
  <input id='email' type='text' />
  <p id='email-error'></p>

  <label for='password'>Contraseña:</label>
  <input id='password' type='password' />
  <p id='password-error'></p>

  <button type='submit' class='btn btn-primary'>Iniciar sesión</button>
</form>

<p>No tienes una cuenta? <a href='/auth/signup'>Crea una cuenta.</a></p>