<form id='signup-form'>
  <h3>Crea una cuenta</h3>

  <label for='name'>Nombre:</label>
  <input id='name' type='text' />
  <p id='name-error'></p>

  <label for='email'>Email:</label>
  <input id='email' type='text' />
  <p id='email-error'></p>

  <label for='password'>Contraseña:</label>
  <input id='password' type='password' />
  <p id='password-error'></p>

  <label for='repeat-password'>Repite la contraseña:</label>
  <input id='repeat-password' type='password' />
  <p id='repeat-password-error'></p>

  <button type='submit' class='btn btn-primary'>Crear cuenta</button>
</form>

<p>Ya tienes una cuenta? <a href='/auth/login'>Inicia sesion</a></p>